# Common Next.js variable
NEXT_PUBLIC_APP_URL=http://localhost:3000

##? Discord variables
# The URL to which the user should be redirected after successfull Discord OAuth
DISCORD_REDIRECT_URI=http://yourdomain.com/api/auth/discord/callback 
# Admin roles separated by comma 
# (e.g. 0000000000000000000,1100000000000000000,220000000000000000)
ADMIN_DISCORD_ROLES_IDS=""
DISCORD_CLIENT_SECRET=""
DISCORD_CLIENT_ID=""
GUILD_ID=""

##? Supabase
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

##? Vercel blob
## Used to store some media data (e.g. photos)
BLOB_WEBHOOK_PUBLIC_KEY=""
BLOB_STORE_ID=""
BLOB_READ_WRITE_TOKEN=""

##? Fingerprinting services keys
NEXT_PUBLIC_THUMBMARK_API_KEY=""
NEXT_PUBLIC_FINGERPRINT_KEY=""